.top-aside {
  background: white;
}

.top-aside h5 {
  background: #0290ff;
  color: white;
}

.middle-aside {
  background: white;
}

.bottom-aside {
  background: white;
}

.category-item {
  background: white;
}

.category-item-title h4 {
  color: #0290ff;
}

.category-item-tags p {
  background: rgba(0, 0, 0, 0.07);
}

.category-location-text {
  margin-top: 30px;
}